{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block section %}
<div class="flex h-screen">
    {% include "components\nav.html" %}
<section id="users" class="container mx-auto my-16 px-6">
    <a href='{% url "register" %}' class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <h3 class='font-semibold'>Add Student</h3>
    </a>
    
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Registered Users</h2>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden p-6">
        <table class="w-full border-collapse border border-gray-200">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border p-3">User ID</th>
                    <th class="border p-3">Name</th>
                    <th class="border p-3">Email</th>
                    <th class="border p-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="border p-3">{{ forloop.counter }}</td>
                    <td class="border p-3">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="border p-3">{{ user.email }}</td>
                    <td class="border p-3">
                        {% if user.is_superuser %}
                        No permission
                        {% else %}
                        <a href='{% url "updateuser" user.id %}' class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600">Edit</a>
                        <a href='{% url "deleteuser" user.id %}' class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
</div>
{% endblock %}